
addDefaultCharset UTF-8

# запрещаем кэширование:
<FilesMatch "\.(pl|php|html|less|css|cgi|js|spl|scgi|fcgi|jpg|jpeg|png|gif)$">
        Header unset Cache-Control
</FilesMatch>

Options All -ExecCGI -Indexes -Includes +FollowSymLinks

#Защищаем .htaccess файл
<files .htaccess="">
order allow,deny
deny from all
</files>
# защищаем wpconfig.php
<Files wp-config.php>
order allow,deny
deny from all
</Files>
<FilesMatch "\.(inc|cfg)$">
   Order allow,deny
   Deny from all
</FilesMatch>
<FilesMatch ".htpasswd">
   Order allow,deny
   Deny from all
</FilesMatch>
